*{
    padding: 0px;
    margin: 0px;
    margin-top: 2%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

section {
    
    background: white;
    border-radius: 15px;
    padding: 3%;
    width: 500px;
    height: 350px;
text-align: center;
    margin: auto;
    /* Sombra 'box-shadow: desl.x[px] desl.y[px] espalhamento(difusão)[px] cor;' */
    box-shadow: 5px 5px 7px #161616;

}
#msg{
    padding-bottom: 5%;
    font-size: 140%;
    text-align: center;
}
#imagem{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
}
div{
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}
